.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.app-logo {
  height: 350px;
  width: auto;
}

ion-card {
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin: 0 auto;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

ion-item {
  margin-bottom: 15px;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;
}

ion-button {
  --border-radius: 12px;
  --background: #387eff;
  --color: #fff;
  font-weight: bold;
  padding: 12px 0;
  min-height: 48px;
  padding: 14px 0;
}

ion-button:hover {
  --background: #4c8dff;
}

ion-content {
  touch-action: manipulation;
}


.no-underline {
  color: #3880ff;
  text-decoration: none !important;
  font-weight: bold;
}

.no-underline:hover {
  text-decoration: underline !important;
}

p {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

h2 {
  margin-bottom: 10px;
}
